/* file created to handle majority of styling
   for meeting minutes page */


@font-face {
    font-family: Instrument;
    src: url(Instrument_Serif/InstrumentSerif-Regular.ttf);
}
@font-face {
    font-family: Instrument-Italic;
    src: url(Instrument_Serif/InstrumentSerif-Italic.ttf);
}

/* combinatorics !!! */
h3+p{
    font-family:fantasy;
}

br~div{
    font-family: fantasy;
}
/* main */
#main{
    color: hsla(0, 100%, 0, 1);
    background-color:lightgrey;
}

/* box model (long) */
*.pictureborder{
    display: block;
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0cm;
    margin-right: 177mm;

    padding-top: 7px;
    padding-bottom: 0px;
    padding-left: 7px;
    padding-right: 7px;

    border-style:solid;
    border-color: rgb(0,0,0);
    border-width: 5px;
    border-radius: 10px
}

/* box model (short) */
.date{
    font-family: Instrument;
    display: inline;
    position: sticky;
    margin: 10px 342mm 10px 10px;

    padding:10px 10px 10px 10px;
    background-color: #dda0dd;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

/* attendance sheet*/
.Attendance{
    max-width: fit-content;
    min-width: none;
    display: inherit;
    text-decoration: underline;
    text-align: top ;

}
/* agenda portion */
section.Agenda{
    margin: auto;
    position: relative;
}

/* first flex box*/
.flex{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex div{
    background-color: plum;
    font-size: 1rem;
}

/*business flex box */
.business[target="hi"]{
    background-color: lightgrey;
    display: flex;
}

.business > div{
    background-color: plum;
    margin: 10px;
}

/* grid for meeting */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightgray;
    padding: 10px;
    column-gap: 1dvh;
    row-gap: 1dvh;
  }


  /* grid item for each meeting */
  .grid-item {
    height: 27px;
    background-color: plum;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: right;
  }

  /* make grid smaller for mobile devices */
  @media screen and (min-device-width: 375px) and (max-device-width: 900px){
    .grid-item {
        height: 15px;
        background-color: plum;
        border: 1px solid black;
        padding: 20px;
        font-size: 20px;
        text-align: right;
      }
  } 

/* button turns plum */
button:hover{
    color:plum
}
/* active links */
a:active{
    color:green
}

/* diagram and video recording styling */
.Diagram, .vid{
    font-family: Instrument-Italic;
    background-color:plum;
    margin-right:60em;
}