/* file created to handle majority of styling
   for meeting minutes page */

/* color of background of body */
body{
    color: hsla(0, 100%, 0, 1);
    background-color: grey;
}

/* box model (long) */
.pictureborder{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0cm;
    margin-right: 177mm;

    padding-top: 7px;
    padding-bottom: 0px;
    padding-left: 7px;
    padding-right: 7px;

    border-style:solid;
    border-color: rgb(0,0,0);
    border-width: 5px;
    border-radius: 10px
}

/* box model (short) */
.date{

    margin: 10px 342mm 10px 10px;

    padding:10px 10px 10px 10px;

    border-style: solid;
    border-color: #FFFFFF;
    border-width: 5px;
}
.Attendance{
    text-decoration: underline;
    text-align: top ;
    
}
